body
  padding: 10px
  font: 14px "Microsoft YaHei", Helvetica, Arial, sans-serif
a
  color: #00B7FF
th 
  text-align: center
td 
  text-align: center
h3
  margin-top:10px
.page-header
  margin-top:15px
.col-md-12
  padding:0
.map>.col-md-3
  padding-left:0
  padding-right:10px
.map>.col-md-9
  padding:0
.map-list
  height:600px
.map-area-list
  margin-top: 10px
  height: 556px
  overflow-y: auto
.map-content
  height:600px
  width:100%