body
  padding: 10px
  font: 14px "Microsoft YaHei", Helvetica, Arial, sans-serif
a
  color: #00B7FF
th 
  text-align: center
td 
  text-align: center
.map>.col-md-3
  padding-left:0
  padding-right:10px
.map>.col-md-9
  padding:0
.map-list
  height:600px
.map-content
  height:600px
  width:100%