doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    //script(src='http://api.map.baidu.com/api?v=2.0&ak=tL14LtUikdTRTyoVuGEIXHbs')
  body
    include ./includes/header
    block content
  include ./includes/footer