//script(src='/javascripts/heatmap.js')
script(src='/javascripts/bootstrap-datetimepicker.min.js')
script(src='/javascripts/bootstrap-datetimepicker.zh-CN.js')
script(src='/javascripts/heatmap-src.js')
script(src='/javascripts/leaflet.js')
script(src='/javascripts/leaflet-heatmap.js')
script(src='../../javascripts/leafletmap.js')
